@font-face {
  font-family: 'robotoMono';
  src: url(fonts/RobotoMono-VariableFont_wght.ttf);
}
* {
 font-family: 'robotoMono' , monospace;
}
body{
  display:flex ;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background: linear-gradient(to right, #ff6e7f, #bfe9ff);
}